{{> head }}
    <body>
        {{> navigation }}
        <main>
            <h1>{{ heading }}</h1>

            {{#if message}}
            <p class="warning">
                {{ message }}
            </p>
            {{/if}}

            <ul class="articleList">
                {{#each articles}}
                <li class="articleListElement"><a class="articleLink" href="{{ url }}" target="_blank">{{ title }}</a></li>
                {{/each}}
            </ul>
        </main>
    </body>
</html>
