{{> head }}
    <body>

        <header id="main-header">
            <div class="container">
                <h1>News Dashboard JJTheKid</h1>
            </div>
        </header>

        {{> navigation }}

        {{#if message}}
            <div class="container">
            <p class="warning">
                {{ message }}
            </p>
            </div>
        {{/if}}
            
        <ul class="articleList">
            {{#each articles}}
            <li class="articleListElement"><a class="articleLink" href="{{ url }}" target="_blank">{{ title }}</a></li>
            {{/each}}
        </ul>

    </body>
</html>
