{{> head }}
    <body>

        <div id="head-and-body">

            <div id="fixed-head">

                <header id="main-header">
                    <div class="container">
                        <h1>News Dashboard JJTheKid</h1>
                    </div>
                </header>
                
                {{> navigation }}

            </div>

            <div class="container">

                <form method="post" action="/settings">
                    <div class="form-box">

                        <label class="form-label" for="news-api-key">News API Key</label>
                        <input type="text" class="text-input" id="news-api-key" name="news-api-key" value="{{ newsApiKey }}">

                        <label class="form-label" for="news-api-category">News API Category</label>
                        <select id="news-api-category" name="news-api-category">
                            {{#each newsApiCategories}}
                            <option value="{{ value }}" {{#if selected}}selected{{/if}}>{{ label }}</option>
                            {{/each}}
                        </select>

                        <input type="submit" class="submit-button" value="Save">

                    </div>
                </form>
            </div>

        </div>

        <footer id="main-footer">
            <p>Copyright &copy; 2020 News Dashboard JJTheKid</p>
        </footer>

    </body>
</html>