body {
    font-family: sans-serif;
}

nav {
    padding-bottom: 1em;
}

.navigation li {
    float: left;
    margin-right: 1em;
    list-style: none;
}

.nav-link {
    padding: 10px 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #1d3a68;
    border-radius: 50px;
}

.nav-link.active, 
.nav-link.active:hover {
    background-color: #155715;
}

.nav-link:hover {
    background-color: #0e2241;
}

.user-info {
    float: right;
    background-color: #eee;
    color: black;
    font-weight: bold;
    padding: 1px;
    border: 1px solid black;
    height: fit-content;
    width: fit-content;
}

.warning {
    background-color: #ffdd88;
    color: #cc0000;
    font-weight: bold;
    padding: 1em;
    border: 1px solid #ddbb66;
}

.content-panel {
    padding: 1em;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 2px;
}

/* Forms */
.form-label {
    display: inline-block;
    width: 7em;
}

.text-input {
    height: 20px;
    width: 30em;
    line-height: 28px;
    font-size: 16px;
}

fieldset {
    border: none;
}