* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color:#d4d4d4;
	color:black;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
    line-height:1.6em;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}

.container {
    width:80vw;
	margin:auto;
    overflow:hidden;
}

#fixed-head {
    position: sticky;
    top: 0;
}

#main-header{
    position: sticky;
	background-color:rgb(25, 60, 25);
    color:#fff;
    padding: 1.5em 0;
}

#navbar{
	background-color:#333;
    color:#fff;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
}

#navbox{
    display:flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

#navigation{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-link{
    background-color:rgb(85, 85, 85);
    color:#fff;
	text-decoration: none;
    font-size:18px;
    padding: 6px 40px;
    border-left: 2px solid black;
}

.nav-link:last-child{
    border-right: 2px solid black;
}

.nav-link:hover{
    background-color:rgb(105, 105, 105);
}

.nav-link.active{
    background-color: rgb(25, 60, 25);
}

.nav-link.active:hover{
    color: white;
}

.user-info {
    background-color:rgb(173, 81, 38);
    color:white;
    font-size:18px;
    padding: 6px 40px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

@media(max-width:1000px){
	.user-info{
        width: 80vw;
        border-bottom: 2px solid black;
        text-align: center;
    }

    #navigation{
        width: 80vw;
    }

    .nav-link{
        width: calc(100%/3);
        text-align: center;
    }
}

.warning {
    background-color: #ffdd88;
    color: #cc0000;
    font-weight: bold;
    padding: 1em;
    border: 2px solid #ddbb66;
}


#articleBox {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border: 2px solid black;
}

.articleLink  {
    text-decoration: none;
    color: white;
    padding: 6px;
    border: 1px solid black;;
    background-color: #1e3e5c;
}

.articleLink:hover {
    background-color: #1d354b;
}

#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
    padding:20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.form-box {
    width: fit-content;
    background: #fff;
    border: 2px solid black;
    border-radius: 3px;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
}

label {
    margin-left: 18px;
    padding-top: 10px;
}

#news-api-category,
input[type=text],
input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    margin-right: 18px;
    width: 290px;
    height: 35px;
	border: 1px solid #c7d0d2;
    border-radius: 3px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
    }

#news-api-key {
    width: 475px;
}

#news-api-category {
    width: auto;
}
    
input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b6bfc0;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}

input[type=text]:focus,
input[type=password]:focus {
    border: 1px solid #a8c9e4;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

input[type=submit] {
    float: right;
    margin: 20px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(25, 60, 25); 
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: rgb(40, 90, 40); 
}

select option {
    margin: 40px;
    background: #333;
    color: white;
}

select option:hover {
    background: rgb(25, 60, 25);
}

/*
.content-panel {
    padding: 1em;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 2px;
    margin: 1em 0;
}

.content-panel input[type=submit] {
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(25, 60, 25); 
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
}

.form-label {
    display: inline-block;
    width: 10em;
}

.text-input {
    height: 20px;
    width: 30em;
    line-height: 28px;
    font-size: 16px;
}

fieldset {
    border: none;
}
*/

/*
.navigation li {
    float: left;
    margin-right: 1em;
    list-style: none;
}

.navigation li{
    display: inline;
}

.nav-link {
    padding: 10px 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #1d3a68;
    border-radius: 50px;
}

.nav-link.active, 
.nav-link.active:hover {
    background-color: #155715;
}

.nav-link:hover {
    background-color: #0e2241;
}
*/